body{
  text-align: center;
  margin: 0;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  background-color: #F7F6DC;
}

h3{
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;

    margin-top: 0;
}

.mountain{
   width: 100%;
   height: auto;

}

.top-birds{

  max-width: 20%;
  max-height: 20%
}

hr{
  border: none;
  border-top-color: #355764;
  border-top-style: dotted;
  border-top-width: 10px;
  width: 10%;

}
p{
    margin-bottom: 30px;
}
h1{
  margin: auto;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-weight: bold;
  font-size: 60px;
}


.profile_pic{
  border-radius: 75%;
  margin: 0;
}
.top-container{
  background-color: #E4F9F5;
  padding-top: 0px;
  padding-bottom: 10px;
  color: #FFFFFF;




}
.profile_pic{
    padding: 50px 0 0 0;

}

h2{
  line-height: 2;
  color: #293462;
}




.skill-row{
  text-align: left;
  line-height: 2;
  padding-top: 10px;


}
.MySkills{
  line-height: 1.5;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.Hobbies{
  float: right;
  border-radius: 50%;


}


.middle-container{
  margin: auto;
  width: 80%;



}
.bottom-container{
  background-color: #54BAB9;
padding: 40px 0 10px 0;
margin-top: 50px;
}



.btn {
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  text-shadow: 3px 3px 3px #000000;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  background: #002842;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #607ed7;
  text-decoration: none;
}

.Buttons2 {
  margin-right: 30px;
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  font-family: Arial;
  color: #000000;
  font-size: 16px;
  background: #dadeda;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.Buttons2:hover {
  background: #001d75;
  transform: scale(1.1);
  color: #ffffff
}

.hero-content {
  position: relative;
  text-align: center;
}

.hero-content img.mountain {
  display: block;
  width: 100%;
  height: auto;
}

.hero-content h1 {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}

.hero-content h3 {

  margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.hero-content h4 {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}